/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
  }
  
  canvas {
    display: block;
    vertical-align: bottom;
  }
  
  /* ---- particles.js container ---- */
  #particles-js {
    position: absolute;
   
     /* Adjust as necessary */
    overflow: hidden; /* Ensures no overflow */
    z-index: 0;
    background-color: #020206;
}

/* Create left pseudo-element for the background */
/* #particles-js::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; 
    height: 100%;
    background: url("../Header/background.png") no-repeat center center / cover;
    background-color: #000022; 
    filter: blur(18px); 
    z-index: -1; 
} */

/* Create right pseudo-element for the background */
/* #particles-js::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0; 
    width: 50%; 
    height: 100%;
    background: url("../Header/background.png") no-repeat center center / cover;
    background-color: #000022; 
    filter: blur(18px);
    z-index: -1; 
} */


  
  /* ---- stats.js ---- */
  .count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 30px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles {
    font-size: 1.1em;
  }
  
  #stats, .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  #stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles {
    border-radius: 0 0 3px 3px;
  }
  