@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Helvetica';
    src: url(./Fonts/Helvetica.woff2) format(woff2);
}

/* index.css (or any global CSS file) */
@layer base {
    /* Create a grain texture background */
    .grain-background {
      /* Set the size of the background */
      width: 100vw;
      height: 100vh;
  
      /* Apply the grain texture background */
      background-image: url('./components/Header/graintexture.avif');
      background-size: cover;
      background-position: center;
      background-repeat: repeat; /* or "no-repeat" if you don't want repetition */
  
      /* Adjust opacity of the grain texture */
      opacity: 0.5; /* Adjust as needed */
    }

    .bento{
      @apply  rounded-[40px] bg-red-300 p-[1px] hover:bg-gradient-to-br hover:from-red-200 hover:via-pink-200 hover:to-yellow-200
    }

    .bentoMobile{
      @apply w-[400px] lg:w-full -ml-2 xl:ml-0 
    }

    .innerContainer{
      @apply rounded-full w-full h-full p-6 lg:flex lg:flex-row flex flex-col gap-12 group-hover:bg-gradient-to-br group-hover:from-red-50 group-hover:via-pink-50 group-hover:to-yellow-50
    }

    .techInfo{
      @apply p-1 text-[20px] font-semibold lg:text-[18px] lg:font-normal text-center
    }

   
    .button {
      --color:  #353331;
      font-family: inherit;
      display: inline-block;
      width: 6em;
      height: 2.6em;
      line-height: 2.5em;
      overflow: hidden;
      cursor: pointer;
      margin: 20px;
      font-size: 17px;
      z-index: 1;
      color: #fff;
      background-color: #5f5c57;
      margin-top: 0px;
      border-radius: 50px;
      position: relative;

    }
    
    .button::before {
      position: absolute;
      content: "";
      background: var(--color);
      width: 150px;
      height: 200px;
      z-index: -1;
      border-radius: 50%;
    }
    
    .button:hover {
      color: white;
    }
    
    .button:before {
      top: 100%;
      left: 100%;
      transition: 0.3s all;
    }
    
    .button:hover::before {
      top: -30px;
      left: -30px;
    }
  
  
    
  }
  